<div class="container mt-4">
  <h1 class="text-center">C'est ÇA l'équipe !</h1>
  <div class="row">
    <!-- Membre 1 -->
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/Psykokwak-RFVFFULLREZ.png" class="card-img-top img-fluid" alt="Captain of the Team" style="max-width: 100%; height: auto;">
        <div class="card-body">
          <h5 class="card-title">Robin Potin Couffin</h5>
          <p class="card-text">"A vrai dire. C'est à dire que j'ai si peu à dire."</p>
        </div>
      </div>
    </div>
    <!-- Membre 2 -->
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="/images/Boo.png" class="card-img-top img-fluid" alt="Eminent member of the Team" style="max-width: 100%; height: auto;">
        <div class="card-body">
          <h5 class="card-title">Boo le foofoo</h5>
          <p class="card-text">"Boo."</p>
        </div>
      </div>
    </div>
  </div>
</div>
