<div class="container mt-4">
  <h1 class="text-center">C'est nous l'équipe !</h1>
  <div class="row">
    <!-- Membre 1 -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column">
        <img src="/images/Psykokwak.jpg" class="card-img-top" alt="Captain of the Team">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Robin Potin Couffin</h5>
          <p class="card-text flex-grow-1">"A vrai dire. C'est à dire que j'ai si peu à dire."</p>
          <!-- Si vous avez des boutons ou d'autres éléments qui doivent rester en bas, ajoutez-les ici -->
        </div>
      </div>
    </div>
    <!-- Membre 2 -->
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 flex-column">
        <img src="/images/Boo.png" class="card-img-top" alt="Eminent member of the Team">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Boo le foofoo</h5>
          <p class="card-text flex-grow-1">"Boo."</p>
          <!-- Si vous avez des boutons ou d'autres éléments qui doivent rester en bas, ajoutez-les ici -->
        </div>
      </div>
    </div>
  </div>
</div>
