<h1>Liste des Molécules</h1>
<div class="container">
  <ul>
    <li><%= link_to 'Navbar', '/atomic-design/navbar' %></li>
    <li><%= link_to 'Footer', '/atomic-design/footer' %></li>
    <li><%= link_to 'Bannière', '/atomic-design/banner' %></li>
    <li><%= link_to 'Page de Connexion', '/atomic-design/login' %></li>
  </ul>
</div>
