<%# <!-- app/views/molecules/footer.html.erb -->
<footer class="footer-custom">
  <div class="container text-center py-3">
    <p>Suivez-nous sur les réseaux sociaux :</p>
    <%= link_to "https://www.facebook.com", class: "btn btn-dark me-2", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fab fa-facebook-f fa-xs"></i> Facebook
    <% end %>
    <!-- Ajoutez ici le reste du contenu de votre footer -->
  </div>
</footer> %>
