<%= render 'atomic-design/navbar/navbar' %> <!-- Inclure la navbar atomique une seule fois -->
<h1>Liste des Molécules</h1>
<ul>
  <% @molecules.each do |molecule| %>
    <div class="container">
      <li class="vapor-theme">
        <strong><%= molecule.name %></strong>
        <p><%= molecule.description %></p>
      </li>
    </div>
  <% end %>
</ul>
