<h1>Bienvenue sur notre site</h1>
<ul>
  <li><%= link_to "Accueil", root_path %></li>
  <li><%= link_to "Liste des événements", events_path %></li>
  <li><%= link_to "Créer un nouvel événement", new_event_path %></li>
  <!-- Ajoutez d'autres liens ici -->
</ul>
