// // Importation de Bootstrap
@import "bootstrap";

// // Importation du thème Bootswatch
// @import "vapor";

// Définissez la classe CSS "vapor-theme" pour styliser les éléments spécifiques
.vapor-theme {
  @import 'vapor';
}

// Définition de la palette de couleurs
$orange-pastel: #ffab91;
$rose-pastel: #f8bbd0;
$violet-pastel: #d196db;
$gris-doux: #cbcfd1;
$primary-color: #fff; // Blanc pour plus de contraste
$dark-color: #343a40; // Gris foncé pour la navbar et le footer
$navy-color: #2a3f54; // Bleu marine pour le héros

// Mixins
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

html,
body {
  height: 100%; // Assurez-vous que la hauteur de la page est au moins la hauteur de la fenêtre du navigateur
}

// Styles globaux
body {
  display: flex;
  flex-direction: column; // Organisez le contenu de votre corps en colonne
  background-color: $rose-pastel; // Utilisation du rose pastel comme couleur de fond globale
  color: $dark-color; // Couleur principale du texte
  font-family: "Open Sans", sans-serif; // Exemple de police globale
  padding-bottom: 60px; // Ajouter un espace en bas équivalent à la hauteur du footer
}

.content {
  flex: 1; // Le contenu prendra tout l'espace disponible
  margin-bottom: 60px; // Ajouter un espace en bas pour le footer
}

button,
.btn-dark-custom {
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.15)); // Ombre plus douce pour les boutons
  background-color: $dark-color; // Boutons en gris foncé
  border: none; // Supprimer la bordure par défaut de Bootstrap
  color: $primary-color; // Texte blanc pour les boutons
  &:hover {
    background-color: darken($dark-color, 10%); // Assombrir le bouton au survol
  }
}

// Styles spécifiques à la navbar et au footer
.navbar-custom,
.footer-custom {
  background-color: $dark-color; // Couleur de fond pour la navbar et le footer
  .nav-link,
  .footer-link {
    color: $primary-color; // Couleur des liens en blanc
    &:hover {
      color: lighten($primary-color, 10%); // Éclaircir les liens au survol
    }
  }
}

.navbar-brand-pastel {
  color: $rose-pastel; // Assurez-vous que cette variable est définie dans votre fichier SCSS
}

// Styles pour le héros
.hero-navy {
  background-color: $navy-color; // Couleur de fond pour le héros
}

// Styles de cartes
.card {
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.15)); // Ombre plus douce pour les cartes
  background-color: $violet-pastel; // Fond des cartes en violet pastel
  .card-header {
    background-color: $gris-doux; // En-tête des cartes en gris doux
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%; /* Assurez-vous que l'image est toujours pleine largeur */
}

// Styles pour le footer
.footer-custom {
  background-color: $dark-color; // Couleur de fond pour le footer
  color: $primary-color; // Couleur du texte pour le footer
  padding: 20px 0;
  position: fixed; // Position collante pour le footer
  bottom: 0; // Aligner le footer en bas
  width: 100%; // Largeur complète
  height: 120px; // Définir une hauteur fixe pour le footer
  flex-shrink: 0; // Empêche le footer de se rétrécir si le contenu est trop grand
  z-index: 10; // Assurez-vous que le footer est au-dessus des autres éléments
}

.footer-link {
  color: $primary-color; // Couleur des liens du footer
  &:hover {
    color: lighten($primary-color, 10%); // Éclaircir les liens du footer au survol
  }
}
